<div class="container" style="margin:20px">
    <div class="row">
        <h1>เพิ่มอาจารย์ผู้ประสานงาน</h1>
        <form class="form-horizontal touched-validate" name="addForm" style="margin-bottom:25px" ng-hide="allowPwChange" novalidate>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">
                        รหัสประจำตัว
                        <span class="mini-red">*อย่างน้อย 4 ตัวออักษร</span>
                    </label>
                    <input type="text" class="form-control" ng-model="formData.staff_code" placeholder="รหัสประจำตัว" id="staffCode" name="staffCode" style="max-width:250px;" autocomplete="off" ng-minlength="4" required>
                </div>
                <div class="form-group">
                    <label for="tname">คำนำหน้าชื่อ <span class="mini-red">*</span></label>
                    <select class="form-control" style="max-width:250px;" ng-model="formData.title" ng-options="titleName as titleName.t_th for titleName in titleNameList" ng-change="sexChange()" id="titleName" name="titleName"  required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fnameTh">ชื่อภาษาไทย <span class="mini-red">*</span></label>

                    <div class="form-inline">
                        <input type="text" class="form-control" ng-model="formData.name.f_th" placeholder="ชื่อ" id="fnameTh" name="th_name_first" style="max-width:250px" autocomplete="off" required>
                        <input type="text" class="form-control" ng-model="formData.name.l_th" placeholder="นามสกุล" id="lnameTh" name="th_name_last" style="max-width:250px;margin-top:10px" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fnameEn">ชื่อภาษาอังกฤษ <span class="mini-red">*</span></label>
                    <div class="form-inline">
                        <input type="text" class="form-control" ng-model="formData.name.f_en" placeholder="First name" id="fnameEn" name="en_name_first" style="max-width:250px;"  autocomplete="off" required>
                        <input type="text" class="form-control" ng-model="formData.name.l_en" placeholder="Last name" id="lnameEn" name="en_name_last" style="max-width:250px;margin-top:10px" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="acaPos">ตำแหน่งทางวิชาการ <span class="mini-red">*</span></label>
                    <input type="text" ng-model="formData.acade_pos" uib-typeahead="acadePos as acadePos.full_th for acadePos in acadePosList | filter:$viewValue | limitTo:8" class="form-control" id="acaPos"name="acaPos" style="max-width:250px;margin-top:10px" placeholder="ตำแหน่งทางวิชาการ" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="email">อีเมล์ <span class="mini-red">*</span></label>
                    <input type="email" class="form-control" ng-model="formData.contact_email" placeholder="Email" id="email" style="max-width:250px;" autocomplete="off" ng-minlength="10" required>
                </div>
                <div class="form-group">
                    <label for="tel">เบอร์โทรศัพท์ <span class="mini-red">*</span></label>
                    <input type="text" class="form-control" ng-model="formData.tel" placeholder="Telephone" id="tel" name="tel" style="max-width:250px;" autocomplete="off" ng-minlength="8" required>
                </div>
                <div class="form-group">
                    <label for="newPw">
                        รหัสผ่าน 
                        <span class="mini-red">*อย่างน้อย 4 ตัวออักษร</span>
                    </label>
                    <input type="password" class="form-control" ng-model="formData.password" placeholder="รหัสผ่าน" id="newPw" name="password" style="max-width:250px;"  ng-minlength="4" required>
                </div>
                <div class="form-group">
                    <label for="conPw">
                        ยืนยันรหัสผ่าน
                        <span class="mini-red">*</span>
                    </label>
                    <input type="password" class="form-control" ng-model="formData.password_confirm" placeholder="รหัสผ่าน" id="conPw" name="confirmPassword" style="max-width:250px;" ng-minlength="4" required>
                    <br>
                    <span class="mini-red" ng-hide="formData.password==formData.password_confirm">การยืนยันรหัสผ่านไม่ตรงกัน</span>
                </div>
            </div>
            <div class="col-md-6" ng-show="addForm.$valid && formData.password==formData.password_confirm "> 
                <button type="submit" class="btn btn-success" ng-click="validateForm(addForm)">บันทึก</button>
                <button type="reset" class="btn btn-warning">ล้างค่า</button>
                <button class="btn btn-default" ng-click="ok()">ปิด</button>
            </div>
        </form>
    </div>
</div>
