<div class="container" style="margin:20px">
    <div class="row">
        <h1>เพิ่มนักศึกษา<small><span ng-bind="formData.staff_code"></span></small></h1>
        <form class="form-horizontal" style="margin-bottom:25px" ng-hide="allowPwChange">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="scode">รหัสนักศึกษา</label>
                    <input type="text" class="form-control" ng-model="formData.stu_code" placeholder="รหัสนักศึกษา" id="scode" style="max-width:250px;">
                </div>
                <div class="form-group">
                    <label for="tname">คำนำหน้าชื่อ</label>
                    <input type="text" id="tname"ng-model="formData.name.t" uib-typeahead="titleName as titleName.title_th for titleName in titleNameList | filter:$viewValue | limitTo:8" class="form-control" style="max-width:250px;">
                </div>
                <div class="form-group">
                    <label for="fnameTh">ชื่อภาษาไทย</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" ng-model="formData.name.f_th" placeholder="ชื่อ" for="fnameTh" style="max-width:250px">
                        <input type="text" class="form-control" ng-model="formData.name.l_th" placeholder="นามสกุล" style="max-width:250px;margin-top:10px">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fnameEn">ชื่อภาษาอังกฤษ</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" ng-model="formData.name.f_en" placeholder="First name" id="fnameEn" style="max-width:250px;">
                        <input type="text" class="form-control" ng-model="formData.name.l_en" placeholder="Last name" id="lnameEn" style="max-width:250px;margin-top:10px">
                    </div>
                </div>

                <div class="form-group">
                    <label for="sex">เพศ</label>
                    <div class="btn-group" style="margin-left:15px" id="inputTypee">
                        <label class="btn btn-default" ng-model="formData.sex" uib-btn-radio="'ชาย'" uncheckable>ชาย</label>
                        <label class="btn btn-default" ng-model="formData.sex" uib-btn-radio="'หญิง'" uncheckable>หญิง</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">อีเมล์</label>
                    <input type="text" class="form-control" ng-model="formData.contact_email" placeholder="Email" id="email" style="max-width:250px;">
                </div>
                <div class="form-group">
                    <label for="tel">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control" ng-model="formData.tel" placeholder="Telephone" id="tel" style="max-width:250px;">
                </div>
                <div class="form-group">
                    <label for="pw">รหัสอาจารย์ที่ปรึกษา</label>
                    <input type="text" ng-model="formData.advisor_id" uib-typeahead="advisor.staff_code as advisor.staff_code + ' ('+ advisor.first_name_th + ' ' + advisor.last_name_th +')' for advisor in advisorList | filter:$viewValue | limitTo:8" class="form-control" style="max-width:250px;" placeholder="อาจารย์ที่ปรึกษา">
                </div>
                <div class="form-group">
                    <label for="newPw">รหัสผ่าน</label>
                    <input type="password" class="form-control" ng-model="formData.password" placeholder="รหัสผ่าน" id="newPw" style="max-width:250px;">
                </div>
                <div class="form-group">
                    <label for="conPw">ยืนยันรหัสผ่าน</label>
                    <input type="password" class="form-control" ng-model="formData.password_confirm" placeholder="รหัสผ่าน" id="conPw" style="max-width:250px;">
                    <br>
                    <span class="mini-red" ng-hide="formData.password==formData.password_confirm">การยืนยันรหัสผ่านไม่ถูกต้อง</span>
                </div>
                <button type="submit" class="btn btn-success" ng-click="createStudent()">บันทึก</button>
                <button type="reset" class="btn btn-warning">ล้างค่า</button>
                <button class="btn btn-default" ng-click="ok()">ปิด</button>
            </div>
        </form>
    </div>
</div>
