<div class="modal-header">
    <h3 class="modal-title">เพิ่มอาจารย์ผู้ประสานงาน</h3>
</div>
<div class="modal-body" style="padding-left:20px;padding-right:20px;">
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal touched-validate container-fluid" name="addForm" ng-hide="allowPwChange" novalidate>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="titleName">คำนำหน้าชื่อ <span class="mini-red">*</span></label>
                        <select class="form-control title-name" ng-model="formData.name.title" ng-options="titleName as titleName.th for titleName.th in titleNameList" ng-change="sexChange()" id="titleName" name="titleName" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fname">ชื่อ<span class="mini-red">*</span></label>
                            <input type="text" class="form-control text-med" ng-model="formData.name.first" placeholder="ชื่อ" id="fname" name="first_name" autocomplete="off" required>
                            <input type="text" class="form-control text-med" ng-model="formData.name.last" placeholder="นามสกุล" id="lname" name="last_name" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="acaPos">ตำแหน่งทางวิชาการ <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" id="acaPos" name="acaPos" ng-model="formData.academic_pos" uib-typeahead="acadePos.full.th as acadePos.full.th for acadePos in acadePosList | filter:$viewValue | limitTo:8" placeholder="ตำแหน่งทางวิชาการ" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">อีเมล์ <span class="mini-red">*</span></label>
                        <input type="email" class="form-control text-med" ng-model="formData.contact.email" placeholder="Email" id="email" autocomplete="off" ng-minlength="10" required>
                    </div>
                    <div class="form-group">
                        <label for="tel">เบอร์โทรศัพท์ <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" ng-model="formData.contact.tel" placeholder="Telephone" id="tel" name="tel" autocomplete="off" ng-minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="newPw">
                            รหัสผ่าน
                            <span class="mini-red">*อย่างน้อย 4 ตัวออักษร</span>
                        </label>
                        <input type="password" class="form-control text-med" ng-model="formData.password" placeholder="รหัสผ่าน" id="newPw" name="password" ng-minlength="4" required>
                    </div>
                    <div class="form-group">
                        <label for="conPw">
                            ยืนยันรหัสผ่าน
                            <span class="mini-red">*</span>
                        </label>
                        <input type="password" class="form-control" ng-model="formData.password_confirm" placeholder="รหัสผ่าน" id="conPw" name="confirmPassword" ng-minlength="4" required>
                        <br>
                        <span class="mini-red" ng-hide="formData.password==formData.password_confirm">การยืนยันรหัสผ่านไม่ตรงกัน</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-click="validateForm(addForm)">บันทึก</button>
    <button type="reset" class="btn btn-warning">ล้างค่า</button>
    <button class="btn btn-default" ng-click="ok()">ปิด</button>
</div>
