<div class="modal-header">
    <h3 class="modal-title">แก้ไขข้อมูลอาจารย์ผู้ประสานงาน <small><span ng-bind="formData.staff_code"></span></small></h3>
</div>
<div class="modal-body" style="padding-left:20px;padding-right:20px;">
    <div class="container-fluid">
        <div class="row" ng-hide="allowPwChange">
            <form class="form-horizontal touched-validate" name="editForm" novalidate>
                <div class="col-sm-6 form-column">
                    <div class="form-group">
                        <label for="fnameTh">ชื่อ<span class="mini-red">*</span></label>
                            <input type="text" class="form-control text-med" ng-model="formData.name.first" placeholder="ชื่อ" id="fnameTh" name="first_name" autofocus required>
                            <input type="text" class="form-control text-med" ng-model="formData.name.last" placeholder="นามสกุล" id="lnameTh" name="last_name"  required>
                    </div>
                    <div class="form-group">
                        <label for="acaPos">ตำแหน่งทางวิชาการ <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" id="acaPos" name="acaPos" ng-model="formData.academic_pos" uib-typeahead="acadePos.full.th as acadePos.full.th for acadePos in acadePosList | filter:$viewValue | limitTo:8" required>
                    </div>
                </div>
                <div class="col-sm-6 form-column">
                    <div class="form-group">
                        <label for="con_email">อีเมล์ <span class="mini-red">*</span></label>
                        <input type="email" class="form-control text-med" ng-model="formData.contact.email" placeholder="Email" id="con_email" name="con_email"  required>
                    </div>
                    <div class="form-group">
                        <label for="tel">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control text-med" ng-model="formData.contact.tel" placeholder="Telephone" id="tel" name="tel" >
                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="allowPwChange">
            <div class="col-sm-6 form-column">
                <h4>เปลี่ยนรหัสผ่าน</h4>
                <form class="form-horizontal touched-validate">
                    <div class="well">
                        <div class="form-group">
                            <label for="oldPw">รหัสผ่านเก่า <span class="mini-red">*</span></label>
                            <input type="password" class="form-control text-med" ng-model="formData.pw.oldPassword" placeholder="รหัสผ่าน" id="oldPw" required>
                        </div>
                        <div class="form-group">
                            <label for="newPw">รหัสผ่านใหม่ <span class="mini-red">*</span></label>
                            <input type="password" class="form-control text-med" ng-model="formData.pw.newPassword" placeholder="รหัสผ่าน" id="newPw" required>
                        </div>
                        <div class="form-group">
                            <label for="conPw">ยืนยันรหัสผ่านใหม่ <span class="mini-red">*</span></label>
                            <input type="password" class="form-control text-med" ng-model="formData.pw.password_confirm" placeholder="รหัสผ่าน" id="conPw" required>
                            <br>
                            <span class="mini-red" ng-hide="formData.pw.newPassword==formData.pw.password_confirm">การยืนยันรหัสผ่านไม่ถูกต้อง</span>
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="changPw(formData.pw,formData._id)">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- class table -->
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-hide="allowPwChange" ng-click="validateForm(editForm)">บันทึก</button>
    <!-- <button type="reset" class="btn btn-danger" ng-click="allowPwChange = !allowPwChange" id="changePass"><span ng-hide="allowPwChange">เปลี่ยนรหัสผ่าน</span><span ng-show="allowPwChange">ยกเลิก และ กลับไปแก้ไขข้อมูล</span></button> -->
    <button type="button" class="btn btn-warning" ng-click="getTeacherData()">คืนค่า</button>
    <button class="btn btn-default" ng-click="ok()">ปิด</button>
</div>
