<div class="modal-header">
    <h3 class="modal-title">แก้ไขข้อมูลเอกสาร <small><span ng-bind="formData.file_name"></span></small></h3>
</div>
<div class="modal-body" style="padding-left:20px;padding-right:20px;">
    <div class="container-fluid" style="width:100%">
        <div class="row" ng-hide="allowPwChange">
            <form class="form-horizontal touched-validate" name="editForm" novalidate>
                <div class="col-sm-6">
                    
                    <div class="form-group">
                        <label for="fileUpload">ประเภท <span class="mini-red">*</span></label>
                        <select class="form-control" style="max-width:150px;margin-left:5px" id="fileType" name="fileType" ng-model="formData.file_type" required>
                            <option value="Application">Application</option>
                            <option value="Resume">Resume</option>
                            <option value="Certificate">Certificate</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="desc">คำอธิบาย <span class="glyphicon glyphicon-question-sign" tooltip-popup-close-delay='1000' tooltip-placement="right" uib-tooltip-template="'descTemplate.html'"></span> <span class="mini-red" ng-show="formData.file_type=='Certificate'">*เอกสารประเภทใบรับรองต้องกรอกหัวข้อด้วย</span><span class="mini-gray" ng-hide="formData.file_type=='Certificate'">(ไม่จำเป็น)</span></label>
                        <input type="text" ng-class="{'ex-touched':formData.file_type!='Certificate'}" class="form-control" id="desc" name="desc" ng-model="formData.description" placeholder="คำอธิบาย" for="fileUpload"  style="max-width:250px;">
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fname">สถานะ <span class="mini-red">*</span></label>
                        <div class="btn-group">
                            <label class="btn btn-success btn-sm" ng-model="formData.status" uib-btn-radio="'true'" uncheckable>Approve</label>
                            <label class="btn btn-danger btn-sm" ng-model="formData.status" uib-btn-radio="'false'" uncheckable>Decline</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note">ความคิดเห็น</label>
                        <textarea  type="text" class="form-control text-med" cols="40" rows="2" ng-model="formData.comment" placeholder="Note" id="note" name="note" autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <button type="submit" class="btn btn-success" ng-click="validateForm(editForm)">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer inline-block">
    <button type="button" class="btn btn-warning" ng-click="getDocumentData()">คืนค่า</button>
    <button class="btn btn-default" ng-click="ok()">ปิด</button>
</div>
