<div class="modal-header">
    <h3 class="modal-title">แก้ไขสถานประกอบการ <small ng-bind="formData.s_index"></small></h3>
</div>
<div class="modal-body" style="padding-left:20px;padding-right:20px;">
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal touched-validate" name="addForm" novalidate>
                <div class="col-sm-6 form-column">
                    <div class="form-group">
                        <label for="compName">
                            ชื่อสถานประกอบการ
                            <span class="mini-red">*</span>
                        </label>
                        <input type="text" class="form-control text-med" ng-model="formData.name.full" placeholder="Company name" id="compName" name="compName" autocomplete="off" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="compInit">ชื่อย่อ </label><span class="mini-gray"> *ไม่เกิน 10 ตัวอักษร </span>
                        <input type="text" class="form-control text-med" ng-model="formData.name.initial" placeholder="Company initial" id="compInit" name="compInit" autocomplete="off" ng-maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="part_year">ปีที่เข้าร่วม </label>
                        <input type="text" class="form-control text-med" ng-model="formData.part_year" placeholder="Participating year" id="part_year" name="part_year" autocomplete="off" ng-maxlength="4">
                    </div>
                    <div class="form-group">
                        <label for="area">พื้นที่ </label><span class="mini-gray"> *ตัวย่อ</span>
                        <input type="text" class="form-control text-med" ng-model="formData.area" placeholder="Area" id="area" name="area" autocomplete="off" ng-maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="website">เว็บไซต์</label>
                        <input type="text" class="form-control text-med" ng-model="formData.website" placeholder="Website" id="website" name="website" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-6 form-column">
                    <div class="form-group">
                        <label for="fax">เบอร์โทรสาร </label><span class="mini-gray"> *ตัวเลขไม่มี '-' </span>
                        <div class="form-inline">
                            <input type="text" pattern="^[0-9]*$" class="form-control text-short" ng-model="formData.fax" placeholder="Fax" id="fax" name="fax" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">อีเมล์</label>
                        <input type="email" class="form-control text-med" ng-model="formData.email" placeholder="Email" id="email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="address">ที่อยู่ <span class="mini-red">*</span></label>
                        <textarea class="form-control text-med" rows="4" ng-model="formData.address" placeholder="Address" id="address" name="address" style="margin-left:5px" autocomplete="off" ng-minlength="10" required> </textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" ng-show="addForm.$valid" class="btn btn-success" ng-click="validateForm(addForm)">บันทึก</button>
    <button type="reset" class="btn btn-warning" ng-click="getCompanyData()">ล้างค่า</button>
    <button class="btn btn-default" ng-click="ok()">ปิด</button>
</div>
