<div class="modal-header">
    <h3 class="modal-title">แก้ไขข้อมูลนักศึกษา <small><span ng-bind="formData.stu_code"></span></small></h3>
</div>
<div class="modal-body" style="padding-left:20px;padding-right:20px;">
    <div class="container-fluid">
        <div class="row" ng-hide="allowPwChange">
            <form class="form-horizontal touched-validate" name="editForm" novalidate>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fnameTh">ชื่อภาษาไทย <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" ng-model="formData.name.f_th" placeholder="ชื่อ" for="fnameTh" name="th_name_first" autocomplete="off" autofocus required>
                        <input type="text" class="form-control text-med" ng-model="formData.name.l_th" placeholder="นามสกุล" name="th_name_last" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="fnameEn">ชื่อภาษาอังกฤษ <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" ng-model="formData.name.f_en" placeholder="First name" id="fnameEn" name="en_name_first" autocomplete="off" required>
                        <input type="text" class="form-control text-med" ng-model="formData.name.l_en" placeholder="Last name" id="lnameEn" name="en_name_last" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">อีเมล์ <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" ng-model="formData.contact_email" placeholder="Email" id="email" name="email" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="tel">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control text-med" ng-model="formData.tel" placeholder="Telephone" id="tel" name="tel" autocomplete="off">
                    </div>
                    <!-- advisor remove
                    <div class="form-group">
                        <label for="advisor">รหัสอาจารย์ที่ปรึกษา <span class="mini-red">*</span></label>
                        <input type="text" class="form-control text-med" id="advisor" name="advisor" ng-model="formData.advisor_id" uib-typeahead="advisor.staff_code as advisor.staff_code + ' ('+ advisor.name.f_th + ' ' + advisor.name.l_th +')' for advisor in advisorList | filter:$viewValue | limitTo:8" autocomplete="off" placeholder="อาจารย์ที่ปรึกษา" required>
                    </div>
                    -->
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <button type="submit" class="btn btn-success" ng-click="validateForm(editForm)">บันทึก</button>
                </div>
            </form>
        </div>
        <div class="row" ng-show="allowPwChange">
            <div class="col-sm-6">
                <h4>เปลี่ยนรหัสผ่าน</h4>
                <form class="form-horizontal touched-validate">
                    <div class="well">
                        <div class="form-group">
                            <label for="oldPw">รหัสผ่านเก่า</label>
                            <input type="password" class="form-control" ng-model="formData.pw.oldPassword" placeholder="รหัสผ่าน" id="oldPw" required>
                        </div>
                        <div class="form-group">
                            <label for="newPw">รหัสผ่านใหม่</label>
                            <input type="password" class="form-control" ng-model="formData.pw.newPassword" placeholder="รหัสผ่าน" id="newPw" required>
                        </div>
                        <div class="form-group">
                            <label for="conPw">ยืนยันรหัสผ่านใหม่</label>
                            <input type="password" class="form-control" ng-model="formData.pw.password_confirm" placeholder="รหัสผ่าน" id="conPw" required>
                            <br>
                            <span class="mini-red" ng-hide="formData.pw.newPassword==formData.pw.password_confirm">การยืนยันรหัสผ่านไม่ถูกต้อง</span>
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="changPw(formData.pw,formData._id)">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer inline-block">
    <button type="button" class="btn btn-info" ng-hide="allowPwChange" ng-click="lockStudent(formData._id)" tooltip-placement="top" uib-tooltip="เพื่อยืนยันว่าสถานะนักศึกษาถูกต้องครบถ้วน">ล็อคข้อมูลนี้</button>
    <button type="reset" class="btn btn-danger" ng-click="allowPwChange = !allowPwChange" id="changePass"><span ng-hide="allowPwChange">เปลี่ยนรหัสผ่าน</span><span ng-show="allowPwChange">ยกเลิก และ กลับไปแก้ไขข้อมูล</span></button>
    <button type="button" class="btn btn-warning" ng-click="getStudentData()">คืนค่า</button>
    <button class="btn btn-default" ng-click="ok()">ปิด</button>
</div>
