<div class="container little-frame">
    <div class="row">
        <div class="col col-xs-12 col-sm-6">
            <div class="page-header">
                <h2>จัดการเอกสาร <small> add edit delete</small></h2>
            </div>
        </div>
        <div class="col col-xs-12 col-sm-6" style="position:relative;min-height:100px;">
            <form class="form-inline" style="position:absolute;right:15px;bottom:5px;">
                <button class="btn btn-default btn-sm" type="button" ><span class="glyphicon glyphicon-trash" ></span></button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openAddDocument()">Add</button>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="max-width:200px;">
                        <span class="input-group-addon" id="searchBox"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Keyword" aria-describedby="searchBox" ng-model="searchKey">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>รหัสนักศึกษา</th>
                        <th>ชื่อไฟล์</th>
                        <th>ประเภท</th>
                        <th>สถานะ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in documents |orderBy: document.$$hashKey |filter:searchKey |startFrom:(currentPage - 1) * numPerPage:numPerPage">
                        <th ng-bind="document.owner"></th>
                        <td ng-bind="document.file_name"></td>
                        <td ng-bind="document.file_type"></td>
                        <td ng-bind="document.status"></td>
                        <td>
                            <a ng-click="deleteDocument(document._id)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <uib-pagination ng-model="currentPage" total-items="documents.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
            <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin fa-3x"></span></p>
        </div>
    </div>
</div>
