<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>จัดการเอกสาร</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="position:relative;min-height:90px;">
            <form class="form-inline" style="position:absolute;right:15px;bottom:5px;">
                <button disabled class="btn btn-default btn-sm" type="button" ><span class="glyphicon glyphicon-trash" ></span></button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openAddDocument()">เพิ่มเอกสาร <span class="glyphicon glyphicon-plus"></span></button>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="max-width:200px;">
                        <span class="input-group-addon" id="searchBox"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Keyword" aria-describedby="searchBox" ng-model="searchKey">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="scode">รหัสนักศึกษา</th>
                        <th>ชื่อไฟล์</th>
                        <th>ประเภท</th>
                        <th class="status"><span class="hide-xs">สถานะ <span class="glyphicon glyphicon-question-sign" tooltip-popup-close-delay='500' tooltip-placement="bottom" uib-tooltip-template="'descTemplate.html'" tooltip-class="tooltip-status"></span></span></th>
                        <th class="action"></th>
                        <th class="action"></th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in documents |orderBy: document.owner |filter:searchKey |startFrom:(currentPage - 1) * numPerPage:numPerPage">
                        <th ng-bind="document.owner"></th>
                        <td ng-bind="document.description"></td>
                        <td ng-bind="document.file_type"></td>
                        <td><span ng-class="{'label label-success':document.status,'label label-danger':!document.status}"> </span></td>
                        <td>
                            <a ng-click=""><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                        <td>
                            <a href="{{document.file_location}}" download><span class="glyphicon glyphicon-save"></span></a>
                        </td>
                        <td>
                            <a ng-click="deleteDocument(document._id)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin fa-3x"></span></p>
            <uib-pagination ng-model="currentPage" total-items="documents.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
            
        </div>
    </div>
</div>
<script type="text/ng-template" id="descTemplate.html">
    <span>
        <span class="red">สีแดง</span> - ยังไม่ผ่านการตรวจสอบ
        <br>
        <span class="green">สีเขียว</span> - ผ่านการตรวจสอบแล้ว
    </span>
</script>