<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>จัดการเอกสาร</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="position:relative;min-height:90px;">
            <form class="form-inline" style="position:absolute;right:15px;bottom:5px;">
                <button disabled class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openAddDocument()">เพิ่มเอกสาร <span class="glyphicon glyphicon-plus"></span></button>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="max-width:200px;">
                        <span class="input-group-addon" id="searchBox"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Keyword" aria-describedby="searchBox" ng-model="searchKey">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="scode">เจ้าของ</th>
                        <th class="filetype">ประเภท</th>
                        <th class="">คำอธิบาย</th>
                        <th class="action"></th>
                        <th class="action"></th>
                        <th class="action"></th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody ng-repeat="document in documents  |filter:searchKey |startFrom:(currentPage - 1) * numPerPage:numPerPage">
                    <tr ng-click="viewAttach(document._id)">
                        <td>
                            <span ng-bind="document.owner"></span></a>
                        </td>
                        <td>
                            <span ng-bind="document.file_type"></span></a>
                        </td>
                        <td>
                            <span ng-bind="document.description"></span>
                        </td><td ng-click="openEditDocument(document._id)">
                            <a><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            <a href="{{document.file_path}}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td><td>
                            <a href="{{document.file_path}}" download><span class="glyphicon glyphicon-download"></span></a>
                        </td><td ng-click="deleteDocument(document._id)">
                            <a><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin fa-3x"></span></p>
            <uib-pagination ng-model="currentPage" total-items="totalDouments" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
        </div>
    </div>
    <div class="row" ng-show="!!currentViewAttach" id="detail">
        <div class="col-xs-12 detail-panel">
            <div class="col-xs-12 col-sm-3 side-bar">
                <h4>Owner : <span ng-bind="currentViewAttach.owner || '-' |capitalize"></span> </h4>
                <ul class="contact">
                    <li>
                        <span class="glyphicon glyphicon-file"></span> Type : <span ng-bind="currentViewAttach.file_type || '-' |capitalize"></span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-list-alt"></span> Description : <span ng-bind="currentViewAttach.description || '-' "></span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-ok"></span> Reviewed : <span ng-class="{'label label-success': currentViewAttach.reviewed,'label label-danger': !currentViewAttach.reviewed }" ng-bind="currentViewAttach.reviewed"> </span> Approval : <span ng-class="{'label label-success': currentViewAttach.status,'label label-danger': !currentViewAttach.status }" ng-bind="currentViewAttach.status"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="descTemplate.html">
    <span>
        <span class="red">สีแดง</span> - ยังไม่ผ่านการตรวจสอบ
    <br>
    <span class="green">สีเขียว</span> - ผ่านการตรวจสอบแล้ว
    </span>
</script>
