<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header"><h1>Home {{t}}</h1></div>
        </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6" style="padding:20px 20px 20px 20px;">
			<img src="..." alt="..." class="img-thumbnail" style="width:90%;height:200px">
		</div>
		<div class="col-xs-12 col-sm-6" style="padding:20px 20px 20px 20px;">
			<table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>ชื่อเอกสาร</th>
                        <th>ประเภท</th>
                        <th>สถานะ</th>
                        <th>การกระทำ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in documents">
                        <td ng-bind="document.name"></td>
                        <td ng-bind="document.type"></td>
                        <td ng-bind="document.status"></td>
                        <td>
                            <a ng-click="deleteDocument(document._id)">
                            	<span class="glyphicon glyphicon-search"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>