<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>
                    จัดการนักศึกษา 
                    <small ng-click="openEditAcademicYear()" tooltip-placement="bottom" uib-tooltip="คลิกเพื่อเลือกปีการศึกษาอื่นๆ">
                        ปีการศึกษา <span ng-bind="academicYear"></span>
                        
                    </small>
                </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="position:relative;min-height:90px;">
            <form class="form-inline" style="position:absolute;right:15px;bottom:5px;">
                <button disabled class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openAddStudent()">เพิ่มนักศึกษา <span class="glyphicon glyphicon-plus"></span></button>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="max-width:200px;">
                        <span class="input-group-addon" id="searchBox"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Keyword" aria-describedby="searchBox" ng-model="searchKey">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>รหัสนักศึกษา</th>
                        <th>ชื่อไทย</th>
                        <th>สถานะ</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students |orderBy: student.stu_code |filter:searchKey |startFrom:(currentPage - 1) * numPerPage:numPerPage">
                        <th ng-bind="student.stu_code"></th>
                        <td ng-bind="student.name.t_th + ' ' + student.name.f_th + ' ' + student.name.l_th"></td>
                        <td>
                            <span ng-class="{'label-green':student.status.profile,'label-red':!student.status.profile}"></span>
                            <span ng-class="{'label-green':student.status.document,'label-red':!student.status.document}"></span>
                            <span ng-class="{'label-green':student.status.apply,'label-red':!student.status.apply}"></span>
                            <span ng-class="{'label-green':student.status.accept,'label-red':!student.status.accept}"></span>
                        </td>
                        <td>
                            <button ng-click="deleteStudent(student._id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                        <td> 
                            <button ng-hide="student.profileLock" ng-click="openEditStudent(student._id)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-show="student.profileLock" ng-click="unlockProfile(student._id)"><span class="glyphicon glyphicon-lock"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin fa-3x"></span></p>
            <uib-pagination ng-model="currentPage" total-items="students.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
        </div>
    </div>
    <!--
    <div class="round-button" style="position:fixed;right:20px;bottom:20px;width:58px !important; height:58px
        !important;">
        <div class="round-button-circle" ng-click="openAddStudent()"><a class="round-button"><span class="glyphicon glyphicon-plus"></span></a></div>
    </div>
-->
</div>
