<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>
                    จัดการนักศึกษา 
                    <small ng-click="openEditAcademicYear()" tooltip-placement="bottom" uib-tooltip="คลิกเพื่อเลือกปีการศึกษาอื่นๆ">
                        ปีการศึกษา <span ng-bind="academicYear"></span>
                        
                    </small>
                </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="position:relative;min-height:90px;">
            <form class="form-inline" style="position:absolute;right:15px;bottom:5px;">
                <button disabled class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openAddStudent()">เพิ่มนักศึกษา <span class="glyphicon glyphicon-plus"></span></button>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="max-width:200px;">
                        <span class="input-group-addon" id="searchBox"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Keyword" aria-describedby="searchBox" ng-model="searchKey">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="scode">รหัสนักศึกษา</th>
                        <th>ชื่อ</th>
                        <th class="student-status">สถานะ<span class="glyphicon glyphicon-question-sign" tooltip-popup-close-delay='500' tooltip-placement="bottom" uib-tooltip-template="'descTemplate.html'" tooltip-class="tooltip-status"></span></th>
                        <th class="action"></th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students |orderBy: student.stu_code |filter:searchKey |startFrom:(currentPage - 1) * numPerPage:numPerPage">
                        <th ng-bind="student.stu_code"></th>
                        <td ng-bind="student.name.t_th + ' ' + student.name.f_th + ' ' + student.name.l_th"></td>
                        <td class="student-status">
                            <span ng-class="{'label label-success':student.status.profile,'label label-danger':!student.status.profile}">
                                P
                            </span>
                            <span ng-class="{'label label-success':student.status.document,'label label-danger':!student.status.document}">
                                D
                            </span>
                            <span ng-class="{'label label-success':student.status.apply,'label label-danger':!student.status.apply}">
                                Ap
                            </span>
                            <span ng-class="{'label label-success':student.status.accept,'label label-danger':!student.status.accept}">
                                Ac
                            </span>
                        </td>
                        <td>
                            <a ng-click="deleteStudent(student._id)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                        <td> 
                            <a ng-hide="student.profileLock" ng-click="openEditStudent(student._id)"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a ng-show="student.profileLock" ng-click="unlockProfile(student._id)"><span class="glyphicon glyphicon-lock"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin fa-3x"></span></p>
            <uib-pagination ng-model="currentPage" total-items="students.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
        </div>
    </div>
</div>
<script type="text/ng-template" id="descTemplate.html">
    <span>
        <span class="red">สีแดง</span> - ยังไม่สมบูรณ์<br>
        <span class="orange">สีส้ม</span> - อยู่ขณะดำเนินการ<br>
        <span class="green">สีเขียว</span> - สมบูรณ์<br>
        P - ข้อมูลส่วนตัว, D - เอกสาร<br>
        AP - การส่งสมัคร, AC - การคัดเลือก
    </span>
</script>