<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>จัดการอาจารย์ผู้ประสานงาน </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="position:relative;min-height:90px;">
            <form class="form-inline" style="position:absolute;right:15px;bottom:5px;">
                <button disabled class="btn btn-default btn-sm" type="button" ><span class="glyphicon glyphicon-trash" ></span></button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openAddTeacher()">Add</button>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="max-width:200px;">
                        <span class="input-group-addon" id="searchBox"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Keyword" aria-describedby="searchBox" ng-model="searchKey">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>รหัสประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>เบอร์โทร</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in teachers |orderBy: teacher.staff_code |filter:searchKey |startFrom:(currentPage - 1) * numPerPage:numPerPage">

                        <th ng-bind="teacher.staff_code"></th>
                        <td ng-bind="teacher.title_name_th + ' ' + teacher.first_name_th + ' ' + teacher.last_name_th"></td>
                        <td ng-bind="teacher.tel"></td>
                        <td>
                            <button ng-click="deleteTeacher(teacher._id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                        <td>
                            <button ng-click="openEditTeacher(teacher._id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin fa-3x"></span></p>
            <uib-pagination ng-model="currentPage" total-items="teachers.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
        </div>
    </div>
</div>
