/*
.show-grid [class^=col-] {
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}*/

body::-webkit-scrollbar { 
    display: none; 
}
th>a:hover{
    text-decoration: none;
}

.main-view {
    padding:20px 10px 10px 10px;
}

.mini-red {
    font-size: 0.7em;
    font-style: italic;
    color: #CC0000;
}

.mini-gray {
    font-size: 0.7em;
    font-style: italic;
    color: #888888;
}

span.title {
    font-size: 1.2em;

}

.little-frame {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    border: 1px dashed #eee;
}

.typeahead .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead .custom-popup-wrapper > .message {
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.touched-validate input.ng-invalid.ng-touched {
    border: #39e600;
    box-shadow: 0px 0px 5px #FA787E;
}

.touched-validate input.ng-valid.ng-touched {
    border: green;
    box-shadow: 0px 0px 5px #39e600;
}

.ex-touched {
    border: 1px solid #ccc !important;
    box-shadow: 0px 0px 0px #ffffff !important;
}
.form-inline > input {
    margin: 5px 5px 5px 5px !important;
}

.form-group > input {
    margin-left: 5px !important;
}

.text-short {
    max-width:150px;
}
.text-med {
    max-width:250px;
    margin-bottom: 5px;
}
td,th {
    margin-right: 10px;
    padding-left: 10px;
}
th.scode {
    width:110px;
}

th.status {
    width:75px;
}

th.student-status {
    width:150px;
}

th.action {
    width:32px;
}

th.filetype{
    width: 150px;
}
select.title-name {
    margin-left: 5px;
    max-width:120px;
}

.form-column {
    padding-left: 10px;
    padding-right: 10px;
}

.green {
    color: #00cc00;
}

.red {
    color: #ff0000;
}

.orange {
    color: #ff6600;
}

.tooltip-status{
    width:250px;
}

.detail-panel {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px 10px 10px 10px;
}
.profile-display{
    outline: 1px solid #ffffff;
    border-radius: 50%;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px; 
    display: block;
}
.main-panel {
    width: auto !important;
    margin-right: auto;
    display:inline-block;
}

div.column-2 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    -moz-column-gap: 40px; /* Firefox */
    column-count: 3;
    column-gap: 40px;
}

.right{
    float: right;
}

.side-bar {
    border-radius: 10px;
    padding: 15px 10px 8px 15px;
    background-color: #ffffff;
    margin-right: 20px;
}

.apply-panel{
    width: 50%;
    margin-left: auto;
    padding: 15px 10px 8px 15px;
}

.attach-panel{
    width: 50%;
    margin-right: auto;
    padding: 15px 10px 8px 15px;
}

ul.contact{
    list-style: none;
    padding-left: 0px;
}

ol.prefer{
    list-style: decimal;
    padding-left: 15px;
}

.main-detail {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px 10px 8px 15px;
}

/*
input:valid{
    border: green;
    box-shadow: 0px 0px 5px #39e600;
}*/